.navContainer {
  width: 100%;
  background-color: transparent;
  position: relative;
  bottom: 1.5em;
}
.navList {
  list-style: none;
  display: flex;
justify-content: space-around;
flex-direction: row-reverse;
padding: 0 11px;
  color: gray;
  position: relative;
  bottom: 5px;
}
.navList li {
  z-index: 100;
}

.slide {
  width: 60px;
  height: 38px;
  background-color: #F2F2F2;
  position: absolute;
  left: 73px;
  bottom: -5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s;
}
.slide::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 25px;
  background-color: transparent;
  bottom: 0px;
  left: -25px;
  border-bottom-right-radius: 12px;
  box-shadow: 13px 0 0 #F2F2F2;
}
.slide::after {
  position: absolute;
  content: "";
  height: 24px;
  width: 25px;
  background-color: transparent;
  bottom: 0px;
  right: -25px;
  border-bottom-left-radius: 12px;
  box-shadow: -13px 0 0 #F2F2F2;
}

.links {
  font-size: 14px;
}
