.appContainer {
  overflow: hidden;
  height: 0;
}
.cardContainer {
  margin: auto;
  position: fixed;
  top: 42.1%;
  left: 50.3%;
  min-width: 370px;
  height: 600px;
  margin: 0 auto;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.031),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.044), 0px 12.5px 10px rgba(0, 0, 0, 0.055),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.066),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.079), 0px 100px 80px rgba(0, 0, 0, 0.11);
  border-radius: 24px;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 1000;
  transform: translate(-50%, -50%) scale(0.8);
}

.closeIconContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #aa173b;
  color: white;
  padding: 0 7px;
  border-radius: 15px;
  transition: all 0.4s;
  cursor: pointer;
}
.closeIconContainer:hover {
  background-color: #ee2c5c;
}
.closeIconContainer i {
  font-size: 28px;
  position: relative;
  top: 6px;
}

.contentContainer {
  text-align: center;
  padding-top: 20px;
}
.title {
  font-size: 28px;
  font-weight: 300;
}
.qrImg {
  width: 283px;
  height: 283px;
  margin-top: 24px;
}
.imgSub {
  margin: 0 auto;
  margin-top: 28px;
  font-size: 16px;
  width: 228px;
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 39px;
  width: 290px;
}
.form input {
  padding: 9px;
  padding-left: 18px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  outline: none;
  width: 249px;
  background-color: #e8e8e8;
  color: rgba(17, 21, 25, 0.5);
  text-align: end;
  font-size: 21px;
}
.form button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 12px;
  background-color: #aa173b;
  color: white;
  border: none;
  width: 53px;
  height: 52px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.3s all;
}
.form button:hover {
  background-color: #ee2c5c;
}
.formDesc {
  font-size: 15px;
  margin-top: 16px;
}
button i {
  position: relative;
  top: 6px;
  font-size: 29px;
}
.backLayer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

@media screen and (min-width: 320px) and (min-height: 568px) {
  .cardContainer {
    transform: translate(-49.5%, -51.1%) scale(0.7);
  }
}
@media screen and (min-width: 320px) and (min-height: 628px) {
  .cardContainer {
    transform: translate(-49.5%, -50.1%) scale(0.7);
  }
}
@media screen and (min-width: 360px) and (min-height: 640px) {
  .cardContainer {
    transform: translate(-49.5%, -50.1%) scale(0.7);
  }
}
@media screen and (min-width: 360px) and (min-height: 740px) {
  .cardContainer {
    transform: translate(-49.5%, -49.1%) scale(0.7);
  }
}
@media screen and (min-width: 375px) and (min-height: 667px) {
  .cardContainer {
    transform: translate(-49.5%, -50.4%) scale(0.8);
  }
}

@media screen and (min-width: 375px) and (min-height: 812px) {
  .cardContainer {
    transform: translate(-49.5%, -48.4%) scale(0.8);
  }
}
@media screen and (min-width: 390px) and (min-height: 844px) {
  .cardContainer {
    transform: translate(-49.4%, -48%) scale(.8);
  }
}

@media screen and (min-width: 393px) and (min-height: 786px) {
  .cardContainer {
    transform: translate(-49.6%, -49%) scale(0.8);
  }
}
@media screen and (min-width: 393px) and (min-height: 851px) {
  .cardContainer {
    transform: translate(-49.6%, -48%) scale(0.8);
  }
}

@media screen and (min-width: 411px) and (min-height: 731px) {
  .cardContainer {
    transform: translate(-49.8%, -49.8%) scale(0.8);
  }
}
@media screen and (min-width: 411px) and (min-height: 823px) {
  .cardContainer {
    transform: translate(-49.8%, -48.1%) scale(1);
  }
}
@media screen and (min-width: 412px) and (min-height: 915px) {
  .cardContainer {
    transform: translate(-50%, -47%) scale(1);
  }
}
@media screen and (min-width: 540px) and (min-height: 720px) {
  .cardContainer {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media screen and (min-width: 600px) and (min-height: 868px) {
  .cardContainer {
    transform: translate(-50%, -48%) scale(1);
  }
}
@media screen and (min-width: 768px) and (min-height: 1024PX) {
  .cardContainer {
    transform: translate(-51%, -54%) scale(1.3);
  }
}
@media screen and (min-width: 810px) and (min-height: 1180PX) {
  .cardContainer {
    transform: translate(-51%, -52%) scale(1.3);
  }
}
@media screen and (min-width: 912px) and (min-height: 1368PX) {
  .cardContainer {
    transform: translate(-51%, -49%) scale(1.3);
  }
}
@media screen and (min-width: 1024px) and (min-height: 600PX) {
  .cardContainer {
    transform: translate(-50%, -51%) scale(.7);
  }
}
@media screen and (min-width: 1024px) and (min-height: 1366PX) {
  .cardContainer {
    transform: translate(-51%, -58%) scale(1.7);
  }
}
@media screen and (min-width: 1200px) and (min-height: 2000PX) {
  .cardContainer {
    transform: translate(-51%, -50%) scale(2.4);
  }
}
@media screen and (min-width: 1280px) and (min-height: 800PX) {
  .cardContainer {
    transform: translate(-51%, -49%) scale(0.9);
  }
}
@media screen and (min-width: 1440px) {
  .cardContainer {
    transform: translate(-50.2%, -50%) scale(.8);
  }
}
